.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h1,
h3 {
  margin: 0px;
}

.background {
  display: flex;
  gap: 2px;
}

.property {
  width: 50px;
  height: 20px;
  background-color: rgb(90, 169, 90);
  border: 1px solid, black;
}

.button {
  display: flex;
  gap: 10px;
}

.race,
.reset {
  padding: 5px;
  font-size: 15px;
}